@media (min-width: 992px){
  .col-lg-4{
    width:33.33%;
    float: left;
    box-sizing: border-box;
    border: 1px solid black ;
    display: inline-block;
  }
}
  @media (max-width:991px) and (min-width: 767px){
    .col-md-6{
      width: 50%;
      float: left;
      box-sizing: border-box;
      border: 1px solid black ;
      display: inline-block;
      column-fill: balance;
  }
  .col-md-61{
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: 1px solid black ;
    display: inline-block;
  }
}
@media (max-width:767px) {
  .col-lg-4{
    width:100%;
    box-sizing: border-box;
    border: 1px solid black ;
  }

}
